body {
  padding-top: 50px;

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#videoId {
  margin: 10px auto;
  width: 70%;
  border: 3px solid green;
  padding: 10px;
}

#youtube_video {
  display: block;
  margin: 10px auto;
}

#controller {
  text-align: center;
}

.btns {
  display: inline-block;

}

#progress-bar{
  display: inline-block;
  width: 600px;
  height: 20px;
  /* position: relative; */
  cursor: pointer;
}




