body {
  padding-top: 50px;

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#youtube_video {
  display: block;
  margin: 50px auto;
}

#myURL {
  margin:  auto;
}

#container {
  display: block;
  margin: 50px auto;
}

/* #player {
  margin-top: 5px;
  margin-left: 200px;
} */

#controller {
  display: block;
  /* margin-left: 200px; */
}

.btns {
  float:left;
}

#progress-bar{
  margin-left: 100px;
  width: 600px;
  height: 20px;
  position: relative;
  cursor: pointer;
}




